* {
	margin: 0;
	padding: 0;
}
		
#canvas {
	display: block;
}
#scoarboard {
	display: block;
	position: absolute;
	top: 50px;
	right: 50px;
	border-radius: 0.5em;
	font-family: sans-serif;
	background: #fff;
	padding: 1em;
}
